@import './reset.css';

:root {
    --link-color-blue1: rgb(0, 102, 204);
    --link-color-blue2: rgb(41, 151, 255);
    --text-gray: rgb(110, 110, 115);
    --text-white: rgb(245, 245, 247);
    --text-footer-lighter: rgba(0, 0, 0, 0.56);
    --text-footer-darker: rgba(0, 0, 0, 0.72);
    --border-footer: rgba(0, 0, 0, 0.16);
    --font-largest: 2rem;
    --font-larger: 1.1875rem;
    --font-medium: 1.0625rem;
    --font-small: 0.75rem;
    --font-tv-text: 0.9375rem;
    --font-tv-button: 0.875rem;
    --image-carousel-height: 30.9375rem;
    --image-carousel-width: 17.125rem;
    --carousel-item-width: calc(var(--image-carousel-width) + 0.9375rem);
    --apple-tv-title-height: 3.375rem;
    --apple-tv-title-width: 13.75rem;
    --carousel-item-info-margin: 0 0 2rem 0;
    --scroll-distance: 0px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a.link-underline {
    text-decoration: underline;
}

a.link-highlight {
    color: rgb(0, 102, 204);
}

button {
    border: none;
    background-color: inherit;
}

sup {
    font-size: calc(var(--font-medium) / 1.5);
}

a:hover {
    text-decoration: underline;
}

.text-white {
    color: var(--text-white);
}

.hidden {
    display: none;
}

.no-wrap {
    text-wrap: nowrap;
}

.container-menu {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(22, 22, 23, 0.8);
    backdrop-filter: blur(1rem);
    z-index: 9999;
}

.main {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* fixed top navbar */

.navbar {
    box-sizing: border-box;
    max-width: 64rem;
    padding: 0 1.375rem;
    margin: 0 auto;
}

.navbar-item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -0.5rem;
}

.navbar-item-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    fill: rgba(255, 255, 255, 0.8);
}

.svg-large {
    display: none;
}

.container-menu {
    display: none;
}

/* promo section */

.container-promo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-promo {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    z-index: 42;
}

.section-promo:nth-child(2),
.section-promo:nth-child(3) {
    margin-top: -3rem;
}

.section-promo:nth-child(2) {
    z-index: 41;
}

.section-promo:nth-child(3) {
    z-index: 40;
}

.section-promo-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-promo-content-wrapper {
    margin-top: 2.25rem;
    padding: 3.125rem 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.section-promo-title {
    font-size: var(--font-largest);
    font-weight: 600;
    letter-spacing: -0.025rem;
}

.section-promo-subtitle {
    margin-top: 0.375rem;
    margin-bottom: 0.25rem;
    font-size: var(--font-larger);
    font-weight: 400;
    line-height: 1.4375rem;
}

.section-promo-aside {
    margin-top: 0.9375rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
    font-size: var(--font-medium);
    color: var(--text-gray);
}

.section-promo-link-group,
.grid-item-link-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.825rem;
    gap: 3.25rem;
    line-height: 1.3125rem;
    font-size: var(--font-medium);
    font-weight: 400;
}

.section-promo-link-group > a,
.grid-item-link-group > a {
    position: relative;
    text-align: center;
    left: -0.42rem;
}

.section-promo-link-group > a::after,
.grid-item-link-group > a::after {
    position: absolute;
    right: -0.75rem;
    bottom: -0.0825rem;
    width: 0.54rem;
    font-family: 'FontAwesome';
    content: '\f054';
    font-size: 0.65rem;
}

.section-promo:nth-child(1) .section-promo-item {
    align-items: flex-end;
    font-size: var(--font-medium);
    z-index: 42;
}

.section-promo:nth-child(1) h2 {
    font-weight: 400;
}

.section-promo:nth-child(1) h3 {
    font-size: var(--font-medium);
}

.section-promo:nth-child(1) .section-promo-link {
    color: var(--link-color-blue1);
    text-decoration-color: var(--link-color-blue1);
}

.section-promo-vision-pro-title {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.section-promo:nth-child(2) .section-promo-item {
    z-index: 41;
}

.section-promo:nth-child(2) .section-promo-link {
    color: var(--link-color-blue2);
    text-decoration-color: var(--link-color-blue2);
}

.section-promo:nth-child(3) .section-promo-item {
    z-index: 40;
}

.section-promo:nth-child(3) .section-promo-link {
    color: var(--link-color-blue1);
    text-decoration-color: var(--link-color-blue1);
}

/* grid container and grid items */

.container-grid {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
}

.grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
    overflow: hidden;
    background-color: #ffffff;
}

.grid-item:last-child {
    padding-bottom: 0.75rem;
}

.grid-item:nth-child(1) {
    z-index: 39;
}

.grid-item:nth-child(2) {
    z-index: 38;
}

.grid-item:nth-child(3) {
    z-index: 37;
}

.grid-item:nth-child(4) {
    z-index: 36;
}

.grid-item:nth-child(5) {
    z-index: 35;
}

.grid-item:nth-child(6) {
    z-index: 34;
}

.grid-item-content-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 4rem;
    z-index: inherit;
}

.grid-item-subtitle {
    font-size: var(--font-medium);
    font-weight: 400;
    margin-top: 0.25rem;
    line-height: 1.4375rem;
}

.grid-item-link-group > a {
    font-size: 1.0625rem;
    color: var(--link-color-blue1);
}

.grid-item:nth-child(1) .grid-item-link,
.grid-item:nth-child(2) .grid-item-link {
    color: var(--link-color-blue2);
}

.grid-item-content-wrapper,
.grid-item-title {
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item:nth-child(1) .grid-item-subtitle,
.grid-item:nth-child(2) .grid-item-subtitle {
    color: var(--text-white);
    margin-top: 0.625rem;
    font-weight: 400;
}

.grid-item:nth-child(4) .grid-item-title {
    height: 2.25rem;
    font-size: 2rem;
    font-weight: 600;
}

/* apple-tv image-carousel */

.apple-tv {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.button-prev-image {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--image-carousel-height);
    width: calc((100vw - (var(--image-carousel-width) + 1.875rem)) / 2);
    z-index: 4;
}

.button-next-image {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--image-carousel-height);
    width: calc((100vw - (var(--image-carousel-width) + 1.875rem)) / 2);
    z-index: 4;
}

.image-carousel {
    width: 100%;
    display: flex;
    height: var(--image-carousel-height);
    position: relative;
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
}

.carousel-item-container {
    position: relative;
    background-origin: padding-box;
    height: var(--image-carousel-height);
}

.gradient-overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    height: var(--image-carousel-height);
    width: var(--image-carousel-width);
    margin: 0 0.46875rem;
    z-index: 2;
    transition: 0.1s ease;
}

.image-carousel-container-active .gradient-overlay-dark {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.7));
    background-size: auto;
    background-repeat: no-repeat;
}

.carousel-item {
    display: flex;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0%;
    height: var(--image-carousel-height);
    width: var(--image-carousel-width);
}

.carousel-item-info-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.carousel-item-info-bottom {
    display: flex;
    position: relative;
    z-index: 3;
    opacity: 0;
    margin-bottom: 0.5rem;
    transition: 0.6s ease;
}

.image-carousel-container-active .carousel-item-info-bottom {
    opacity: 1;
    margin: var(--carousel-item-info-margin);
}

.apple-tv-title {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--apple-tv-title-height);
    width: var(--apple-tv-title-width);
}

.apple-tv-genre,
.apple-tv-teaser {
    font-size: var(--font-tv-text);
    color: rgb(255, 255, 255);
    padding: 0 0.9375rem;
    text-align: center;
    text-wrap: wrap;
}

.apple-tv-genre {
    font-weight: 600;
}

.apple-tv-stream-button {
    font-size: var(--font-tv-button);
    font-weight: 525;
    padding: 0.6875rem 1.3125rem;
    min-width: 1.75rem;
    background-color: rgb(255, 255, 255);
    border-radius: 42.69rem;
    border: 1px solid rgb(255, 255, 255);
}

.carousel-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-navigation {
    height: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.42);
}

.dot.active-item {
    background-color: rgba(0, 0, 0, 0.8);
}

/* footer */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-small);
    color: var(--text-footer-lighter);
    padding: 1rem;
    background-color: var(--text-white);
    width: 100%;
    letter-spacing: -0.0075rem;
    line-height: 1rem;
}

footer > section {
    position: relative;
    max-width: 61.25rem;
}

.footer-darker {
    color: var(--text-footer-darker);
}

.footnotes {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--border-footer);
}

.footnotes ul {
    display: flex;
    flex-direction: column;
}

.footnotes ul li {
    padding-bottom: 0.6rem;
}

.navigation-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    color: var(--text-footer-darker);
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.navigation-link-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.navigation-links h3 {
    font-weight: 545;
    color: rgba(0, 0, 0, 0.88);
}

.navigation-link-group svg {
    display: none;
}

.navigation-links ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.3125rem;
}

.footer-bottom ul {
    display: flex;
    gap: 1.0625rem;
}

.footer-bottom ul li:not(:last-child)::after {
    content: "";
    position: relative;
    font-size: 0.5rem;
    bottom: 0.05rem;
    left: 0.53125rem;
    border-right: 1px solid var(--text-footer-lighter);
}

/* media queries */

@media (max-width: 734px) {

    .section-promo {
        height: 35rem;
        background-size: auto 34.25rem;
    }

    .section-promo .section-promo-subtitle {
        margin-bottom: 0;
        letter-spacing: -0.042rem;
    }

    .section-promo-link-group,
    .grid-item-link-group {
        gap: 2.75rem;
    }

    .section-promo:nth-child(1) .section-promo-subtitle {
        margin-top: 0.25rem;
    }

    .section-promo:nth-child(1) {
        background-image: url('./assets/images/promo-images/vision-pro-hero-small.jpg');
    }
    .section-promo:nth-child(1) .section-promo-vision-pro-title {
        background-image: url('./assets/images/promo-images/vision-pro-logo-small.png');
        background-size: auto 2.125rem;
        height: 2.125rem;
    }
    .section-promo:nth-child(1) .section-promo-subtitle {
        max-width: 14.0625rem;
    }
    .section-promo:nth-child(2) {
        background-image: url('./assets/images/promo-images/iphone-15-pro-small.jpg');
    }
    .section-promo:nth-child(3) {
        background-image: url('./assets/images/promo-images/iphone-15-small.jpg');
    }

    .grid-item {
        height: 35rem;
        margin-top: -3rem;
    }

    .grid-item > .grid-item-content-wrapper {
        background-size: auto 34.25rem;
        height: 34.25rem;
    }

    .grid-item .grid-item-title {
        background-size: auto 1.6875rem;
        height: 1.6875rem;
        margin-top: 1.5rem;
    }

    .grid-item-subtitle {
        font-size: var(--font-larger);
        letter-spacing: -0.025rem;
    }

    .grid-item:nth-child(1) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-1-small.jpg');
    }
    
    .grid-item:nth-child(1) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-1-title-small.png');
    }
    
    .grid-item:nth-child(1) .grid-item-subtitle {
        margin-top: 0.625rem;
    }

    .grid-item:nth-child(1) .grid-item-link-group {
        margin-left: 0.75rem;
    }
    
    .grid-item:nth-child(2) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-2-small.jpg');
        position: relative;
    }
    
    .grid-item:nth-child(2) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-2-title-small.png');
        background-size: auto 2.625rem;
        height: 2.625rem;
    }
    
    .grid-item:nth-child(2) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(3) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-3-small.jpg');
    }
    
    .grid-item:nth-child(3) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-3-title-small.png');
        background-size: auto 2.625rem;
        height: 2.625rem;
    }
    
    .grid-item:nth-child(3) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(4) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-4-small.jpg');
    }
    
    .grid-item:nth-child(4) .grid-item-subtitle {
        margin-top: 0.25rem;
    }
    
    .grid-item:nth-child(5) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-5-small.jpg');
    }
    
    .grid-item:nth-child(5) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-5-title-small.png');
    }
    
    .grid-item:nth-child(5) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(6) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-6-small.jpg');
    }
    
    .grid-item:nth-child(6) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-6-title-small.png');
    }
    
    .grid-item:nth-child(6) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }

    .carousel-item {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.46875rem;
    }

    .carousel-item-info-bottom {
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    .apple-tv-teaser {
        margin-bottom: 0.75rem;
    }

    .apple-tv-logo {
        background-image: url('./assets/images/apple-tv-images/apple-tv-logo-small.png');
        background-size: 4.3125rem 1.6875rem;
        background-repeat: no-repeat;
        background-position: center;
        height: 2.0625rem;
        width: 4.25rem;
        margin-top: 1.25rem;
        margin-bottom: 0.3125rem;
    }

    .apple-tv-stream-button {
        line-height: 1.25rem;
    }

    #carousel-item-9-copy {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-9-background-small.jpg);
    }

    #carousel-item-9-copy .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-9-title-small.png);
    }

    #carousel-item-10-copy {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-10-background-small.jpg);
    }

    #carousel-item-10-copy .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-10-title-small.png);
    }

    #carousel-item-1 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-1-background-small.jpg);
    }

    #carousel-item-1 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-1-title-small.png);
    }

    #carousel-item-2 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-2-background-small.jpg);
    }

    #carousel-item-2 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-2-title-small.png);
    }

    #carousel-item-3 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-3-background-small.jpg);
    }

    #carousel-item-3 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-3-title-small.png);
    }

    #carousel-item-4 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-4-background-small.jpg);
    }

    #carousel-item-4 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-4-title-small.png);
    }

    #carousel-item-5 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-5-background-small.jpg);
    }

    #carousel-item-5 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-5-title-small.png);
    }

    #carousel-item-6 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-6-background-small.jpg);
    }

    #carousel-item-6 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-6-title-small.png);
    }

    #carousel-item-7 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-7-background-small.jpg);
    }

    #carousel-item-7 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-7-title-small.png);
    }

    #carousel-item-8 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-8-background-small.jpg);
    }

    #carousel-item-8 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-8-title-small.png);
    }

    #carousel-item-9 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-9-background-small.jpg);
    }

    #carousel-item-9 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-9-title-small.png);
    }

    #carousel-item-10 {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-10-background-small.jpg);
    }

    #carousel-item-10 .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-10-title-small.png);
    }

    #carousel-item-1-copy {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-1-background-small.jpg);
    }

    #carousel-item-1-copy .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-1-title-small.png);
    }

    #carousel-item-2-copy {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-2-background-small.jpg);
    }

    #carousel-item-2-copy .apple-tv-title {
        background-image: url(./assets/images/apple-tv-images/apple-tv-item-2-title-small.png);
    }
}

@media (max-width: 833px) {

    .nav-hidden {
        display: none;
    }

    .svg-small {
        display: none;
    }

    .svg-large {
        display: block;
    }

    .navbar-item-list {
        position: relative;
        height: 3rem;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding-right: 3rem;
        z-index: 1;
    }

    .navbar {
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .navbar-item-svg {
        height: 3rem;
        width: 3rem;
        padding: 0 1rem;
    }

    .navbar-item-list > :first-child {
        margin-right: auto;
    }

    .container-menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        z-index: 3;
    }

    .hamburger-menu {
        display: flex;
        height: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: inherit;
        border: none;
    }

    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        align-items: center;
        overflow: visible;
    }
    
    .hamburger-icon svg {
        height: 0.1rem;
        width: 1.1rem;
        stroke: rgba(255, 255, 255, 0.8);
    }

    .hamburger-bun {
        position: absolute;
        display: flex;
        transition: transform 0.15s ease-in-out, margin 0.15s ease-in-out 0.1s;
        transform: rotate(0);
    }

    .top-bun {
        margin-bottom: 0.4rem;
    }

    .bottom-bun {
        margin-top: 0.4rem;
    }

    #hamburger-menu-status:checked + .hamburger-menu .top-bun {
        margin: 0;
        transform: rotate(45deg);
        transition: transform 0.15s ease-in-out 0.1s, margin 0.15s ease-in-out;
    }

    #hamburger-menu-status:checked + .hamburger-menu .bottom-bun {
        margin: 0;
        transform: rotate(-45deg);
        transition: transform 0.15s ease-in-out 0.1s, margin 0.15s ease-in-out;
    }

    .navigation-links {
        flex-direction: column;
        padding-top: 1.25rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .navigation-link-group:not(.column-container:last-child .navigation-link-group:last-child) {
        border-bottom: 1px solid var(--border-footer);
    }

    .column-container {
        gap: 0;
    }

    .navigation-link-group {
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .navigation-dropdown {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem 0;
        background-color: var(--text-white);
        overflow: hidden;
        z-index: 2;
    }

    .navigation-link-group h3 {
        font-weight: 400;
    }

    .navigation-link-group svg {
        display: block;
    }

    .navigation-link-group ul {
        padding-top: 0.125rem;
        padding-left: 0.875rem;
        padding-bottom: 1.375rem;
        gap: 0.75rem;
        display: none;
    }

    .navigation-link-group.dropdown-expanded ul {
        position: relative;
        display: flex;
        animation: appearOnDropDown 0.3s ease forwards;
        z-index: 1;
    }

    @keyframes appearOnDropDown {
        0% {
            transform: translateY(-6rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    .footer-bottom {
        padding-top: 0;
    }

    .shop-links {
        border-top: 1px solid var(--border-footer);
        padding-top: 1.0625rem;
    }

    .location {
        margin: 1.0625rem 0;
    }

    ul.legal-links {
        margin-top: 0.3125rem;
        text-wrap: nowrap;
        flex-wrap: wrap;
        row-gap: 0.25rem;
    }
}

@media (min-width: 735px) {
    .container-grid {
        grid-template-columns: repeat(2, minmax(21.375rem, 1fr));
        padding: 0 0.75rem;
        column-gap: 0.75rem;
    }
}

@media (min-width: 834px) {

    footer {
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        padding-bottom: 1.125rem;
    }

    .shop-links {
        border-bottom: 1px solid var(--border-footer);
        padding-bottom: 1.125rem;
        margin-bottom: 1.25rem;
    }

    .location {
        position: absolute;
        right: 0;
    }

    .footer-legal-group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
}

@media (min-width: 735px) and (max-width: 1068px) {
    :root {
        --font-largest: 3rem;
        --font-larger: 1.5rem;
        --font-medium: 1.1875rem;
    }

    .section-promo {
        height: 39.3125rem;
        background-size: auto 38.5625rem;
    }
    
    .section-promo-content-wrapper {
        padding-bottom: 3rem;
    }

    .section-promo-title {
        margin-bottom: 0.25rem;
    }

    .section-promo-aside {
        letter-spacing: -0.025rem;
    }

    .section-promo-item {
        padding-top: 1rem;
        padding-bottom: 0.75rem;
    }

    .grid-item-link-group {
        gap: 2.75rem;
    }

    .section-promo:nth-child(1) {
        background-image: url('./assets/images/promo-images/vision-pro-hero-medium.jpg');
    }
    .section-promo:nth-child(1) .section-promo-vision-pro-title {
        background-image: url('./assets/images/promo-images/vision-pro-logo-medium.png');
        background-size: auto 3rem;
        height: 3rem;
        margin-bottom: 0;
    }

    .section-promo:nth-child(2) {
        background-image: url('./assets/images/promo-images/iphone-15-pro-medium.jpg');
    }
    .section-promo:nth-child(3) {
        background-image: url('./assets/images/promo-images/iphone-15-medium.jpg');
    }

    .grid-item {
        height: 31.375rem;
    }

    .grid-item > .grid-item-content-wrapper {
        background-size: auto 30.625rem;
        height: 30.625rem;
    }

    .grid-item .grid-item-title {
        background-size: auto 1.6875rem;
        height: 1.6875rem;
        margin-top: -1rem;
    }

    .grid-item .grid-item-subtitle {
        letter-spacing: -0.025rem;
    }

    .grid-item:nth-child(1) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-1-medium.jpg');
    }
    
    .grid-item:nth-child(1) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-1-title-medium.png');
    }
    
    .grid-item:nth-child(1) .grid-item-subtitle {
        margin-top: 0.625rem;
    }

    .grid-item:nth-child(1) .grid-item-link-group {
        margin-left: 0.75rem;
        letter-spacing: -0.0125rem;
    }
    
    .grid-item:nth-child(2) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-2-medium.jpg');
        position: relative;
    }
    
    .grid-item:nth-child(2) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-2-title-medium.png');
        background-size: auto 2.625rem;
        height: 2.625rem;
    }
    
    .grid-item:nth-child(2) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(3) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-3-medium.jpg');
    }
    
    .grid-item:nth-child(3) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-3-title-medium.png');
        background-size: auto 2.625rem;
        height: 2.625rem;
    }
    
    .grid-item:nth-child(3) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(4) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-4-medium.jpg');
    }
    
    .grid-item:nth-child(4) .grid-item-subtitle {
        margin-top: 0.25rem;
    }
    
    .grid-item:nth-child(5) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-5-medium.jpg');
    }
    
    .grid-item:nth-child(5) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-5-title-medium.png');
    }
    
    .grid-item:nth-child(5) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(6) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-6-medium.jpg');
    }
    
    .grid-item:nth-child(6) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-6-title-medium.png');
    }
    
    .grid-item:nth-child(6) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
}

@media (min-width: 735px) and (max-width: 1068px) and (min-height: 734px) {

    .section-promo {
        height: 44.125rem;
        background-size: auto 43.375rem;
    }

    .section-promo-content-wrapper {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        letter-spacing: -0.025rem;
    }

    .grid-item-link-group {
        gap: 2.75rem;
    }

    .section-promo:nth-child(1) {
        background-image: url('./assets/images/promo-images/vision-pro-hero-medium-tall.jpg');
    }
    
    .section-promo-content-wrapper:nth-child(1) {
        margin-bottom: -0.5rem;
    }

    .section-promo:nth-child(1) .section-promo-vision-pro-title {
        background-image: url('./assets/images/promo-images/vision-pro-logo-medium-tall.png');
        background-size: auto 3rem;
        height: 3rem;
        margin-bottom: -0.25rem;
    }

    .section-promo:nth-child(1) .section-promo-subtitle {
        margin-top: 0.69rem;
    }
    
    .section-promo:nth-child(2) {
        background-image: url('./assets/images/promo-images/iphone-15-pro-medium-tall.jpg');
    }

    .section-promo:nth-child(3) {
        background-image: url('./assets/images/promo-images/iphone-15-medium-tall.jpg');
    }
}

@media (min-width: 1024px) {
    footer {
        padding-bottom: 1.125rem;
    }

    .footer-legal-group {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.875rem;
    }

    .footer-bottom ul {
        margin-top: 0;
        gap: 1.0625rem;
    }

    .location {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 1069px) {
    :root {
        --font-largest: 3.5rem;
        --font-larger: 1.75rem;
        --font-medium: 1.3125rem;
    }

    .section-promo {
        height: 39.75rem;
        background-size: auto 39rem;
    }

    .section-promo-content-wrapper {
        padding-top: 3.5rem;
        padding-bottom: 4.25rem;
    }

    .section-promo-subtitle {
        margin-top: 0.5rem;
        margin-bottom: 0.42rem;
    }

    .section-promo:nth-child(3) .section-promo-subtitle,
    .section-promo:nth-child(2) .section-promo-subtitle {
        margin-top: 0.75rem;
    }

    .section-promo-aside {
        font-weight: 400;
    }

    .section-promo-link-group {
        margin-top: 1rem;
        gap: 3.25rem;
    }

    .grid-item-link-group {
        gap: 2.75rem;
    }

    .section-promo-link-group > a::after {
        bottom: -0.125rem;
        font-size: 0.75rem;
    }

    .section-promo:nth-child(1) {
        background-image: url('./assets/images/promo-images/vision-pro-hero-large.jpg');
    }

    .section-promo:nth-child(1) .section-promo-vision-pro-title {
        background-image: url('./assets/images/promo-images/vision-pro-logo-large.png');
        background-size: auto 3.5rem;
        height: 3.5rem;
    }

    .section-promo:nth-child(2) {
        background-image: url('./assets/images/promo-images/iphone-15-pro-large.jpg');
    }

    .section-promo:nth-child(3) {
        background-image: url('./assets/images/promo-images/iphone-15-large.jpg');
    }

    .grid-item {
        height: 37rem;
    }

    .grid-item > .grid-item-content-wrapper {
        background-size: auto 36.25rem;
        height: 36.25rem;
    }

    .grid-item .grid-item-title {
        background-size: auto 2.0625rem;
        height: 2.0625rem;
        margin-top: -0.25rem;
    }

    .grid-item-subtitle {
        font-size: var(--font-medium);
    }

    .grid-item:nth-child(1) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-1-large.jpg');
    }
    
    .grid-item:nth-child(1) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-1-title-large.png');
    }
    
    .grid-item:nth-child(1) .grid-item-subtitle {
        margin-top: 0.625rem;
    }

    .grid-item:nth-child(1) .grid-item-link-group {
        margin-left: 0.75rem;
    }
    
    .grid-item:nth-child(2) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-2-large.jpg');
        position: relative;
    }
    
    .grid-item:nth-child(2) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-2-title-large.png');
        background-size: auto 3.3125rem;
        height: 3.3125rem;
    }
    
    .grid-item:nth-child(2) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(3) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-3-large.jpg');
    }
    
    .grid-item:nth-child(3) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-3-title-large.png');
        background-size: auto 3.25rem;
        height: 3.25rem;
    }
    
    .grid-item:nth-child(3) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(4) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-4-large.jpg');
    }
    
    .grid-item:nth-child(4) .grid-item-title {
        height: 2.55rem;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .grid-item:nth-child(4) .grid-item-subtitle {
        margin-top: 0.25rem;
    }
    
    .grid-item:nth-child(5) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-5-large.jpg');
    }
    
    .grid-item:nth-child(5) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-5-title-large.png');
    }
    
    .grid-item:nth-child(5) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
    
    .grid-item:nth-child(6) > .grid-item-content-wrapper {
        background-image: url('./assets/images/grid-images/grid-item-6-large.jpg');
    }
    
    .grid-item:nth-child(6) .grid-item-title {
        background-image: url('./assets/images/grid-images/grid-item-6-title-large.png');
    }
    
    .grid-item:nth-child(6) .grid-item-subtitle {
        margin-top: 0.5625rem;
    }
}

@media (min-width: 1069px) and (min-height: 776px) {

    .section-promo {
        height: 46.75rem;
        background-size: auto 46rem;
    }

    .section-promo-content-wrapper {
        padding-top: 4.35rem;
        padding-bottom: 4.25rem;
    }

    .section-promo-subtitle {
        margin-top: 0.75rem;
        margin-bottom: 0.42rem;
    }

    .vision-pro {
        margin-top: 0.5rem;
    }

    .section-promo:nth-child(1) {
        background-image: url('./assets/images/promo-images/vision-pro-hero-large-tall.jpg');
    }

    .section-promo:nth-child(1) .section-promo-vision-pro-title {
        background-image: url('./assets/images/promo-images/vision-pro-logo-large-tall.png');
    }

    .section-promo:nth-child(2) {
        background-image: url('./assets/images/promo-images/iphone-15-pro-large-tall.jpg');
    }

    .section-promo:nth-child(3) {
        background-image: url('./assets/images/promo-images/iphone-15-large-tall.jpg');
    }
}